In [ ]:
#importing all the needed libary

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("Book.csv")

In [ ]:
#Check Shape of the dataframes

In [ ]:
df.shape

In [ ]:
#Check columns of the dataframes

In [ ]:
df.columns

In [ ]:
df.head(3)

In [ ]:
#1 df.apply(lambda x: x.astype(str).str.upper()) 
#df.head()

In [ ]:
#Changing all the 0,nan values to NAN

In [ ]:
df = df.astype(object).where(pd.notnull(df),np.nan)

In [ ]:
df=df.apply(lambda x: x.astype(str).replace("0",np.nan))

In [ ]:
df=df.apply(lambda x: x.astype(str).replace("nan",np.nan))

In [ ]:
#df.isnull()

In [ ]:
#df

In [ ]:
#2 Making a list of missing value types
#missing_values = ["n/a", "na", "--","0"]
#df1 = pd.read_csv("Book.csv", na_values = missing_values)

In [ ]:
#Check the sum of NAN values in the columns

In [ ]:
df.isnull().sum()

In [ ]:
df.head(5)

In [ ]:
#Check if any duplicate values present in the dataset

In [ ]:
df.duplicated()

In [ ]:
#df['Gene_Id'].isnull()

In [ ]:
df=df.dropna(how='all')
df=df.dropna(axis=1, how='all')

In [ ]:
#drop colunms have greater than 3000 NA values

In [ ]:
df1=df.dropna(thresh=3000, axis=1)

In [ ]:
#drop rows have greater than 20 NA values

In [ ]:
df1=df1.dropna(thresh=20)

In [ ]:
#drop selected colunms

In [ ]:
df1=df1.drop(['Approved symbol', 'name', 'diseaseId','NCBI gene ID','Approved name'], axis = 1)

In [ ]:
df2=df1

In [ ]:
#Convert all the strings to UPPER case

In [ ]:
df2=df2.apply(lambda x: x.astype(str).str.upper())

In [ ]:
#Convert the selected colunms datatype to INT

In [ ]:
df2[['Gene_Id']] = df2[['Gene_Id']].apply(pd.to_numeric)

In [ ]:
df2.dtypes

In [ ]:
#Export dataframes to csv

In [ ]:
df2.to_csv('CleanBook.csv', encoding='utf-8')